<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <h1>
        Home Page
    </h1>

    <video id="video" width="640" height="360" src="/static/videos/sample.mp4" type="video/mp4" controls></video>

    <input type="range" id="slider" oninput="moveSlider()" min="0" max="100">

    <button id="nextButton" onclick="goNextPage()">Next⏩</button>

    <script>
        function goNextPage(){
            window.location.href = "/second";
        }
        
        var video = document.getElementById('video');
        var slider = document.getElementById('slider');

        function moveSlider(){
            socket.emit('slider_moved', {value: slider.value})
        }

        // slider.addEventListener("input", function(){
        //     video.volume = slider.value/100;
        // });
    </script>

    <script type="text/javascript" charset="utf-8">
        var socket = io();
        var pageTitle = document.title;

        socket.on('connect', function() {
            console.log('Page ' + pageTitle + ' is connected');
            socket.emit('server_connect', {data: pageTitle + ' is online now\n'});
            socket.emit('join_room', {room: 'stream_room'});
        });

        socket.on('move_slider', function(data) {
            console.log('slider moved\n');
            slider.value = data['value'];
            video.volume = slider.value/100;
        });

    </script>

</body>
</html>